.header {
	border-bottom: solid 2px #000000;
	margin-bottom: 20px;
}

.footer {
	background-color: #222222; 
	padding: 20px; 
	color: white;
}

.panel-default > .panel-heading {
	background-color: #222222;
	color: white;
}

.fb-comments, .fb-comments span[style], .fb-comments iframe[style] {
	width: 100% !important;
}